a {
  color: $primary-color;
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background: var(--surface-ground);

  #__nuxt {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }
}
